[submodule "vim/bundle/Vundle.vim"]
	path = dot-vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "dot-vim/bundle/Vundle.vim"]
	path = dot-vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
